@font-face {
  font-family: "DMSans";
  font-display: swap;
  font-weight: 400 500;
  font-style: normal;
  src: url("assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-display: swap;
  font-weight: 400 500;
  font-style: italic;
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

:root {
  /* Color */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white-100: hsl(25, 5%, 100%);
  --white-200: hsl(0, 5%, 95%);

  --black: hsl(0, 0%, 7%);

  /* FONT */

  --font-family: "DMSans", sans-serif;

  --fs-xs: 1rem;
  --fs-s: 1.125rem;      /*18px*/
  --fs-m: 1.475rem;
  --fs-lg: 2rem;
  --fs-xl: 2.75rem;

  --fw-normal: 400;
  --fw-bold: 500;

  /* IMAGES */
  --img-md:200px;
  --img-lg:100%;

}

/* ------ UTILITIES ------*/
.fs-xs {
  font-size: var(--fs-xs);
}

.fs-s {
  font-size: var(--fs-s);
  font-weight: var(--fw-normal);
}

.fs-m {
  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
}

.fs-lg {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}

.fs-xl {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

.text-center {
  text-align: center;
}

.text-yellow{
  color: var(--yellow-500);
}

.text-purple{
  color: var(--purple-500);
}

.grid-group{
  display: grid;
}

.content-spacing{
  --content-spacing:.5rem;
  gap: var(--content-spacing);
}

em {
  font-style: italic;
}

/* ---------- RESET --------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ----------------------------- */

body {
  background-color: var(--white-200);
  font-family: var(--font-family);
  font-size: var(--fs-s);
  line-height: 1;
  color: var(--black);

  display: grid;
  place-content: center;

  padding-inline: 1rem;
  padding-block: 1.75rem;
}


/* Mobile First */

.bento__grid {
  max-width: 355px;
  display: grid;
  gap: 1.75rem;
}

.bento__grid-element {
  padding: 1.55rem 1.75rem;
  border-radius: 0.5rem;
  overflow: hidden;

  display: grid;
  gap: 1.5rem;

}

.bento__grid-element.faster{
  background-color: var(--purple-500);
  color: var(--white-100);
  font-weight: var(--fw-bold);
  text-wrap: balance; 
}

.bento__grid-element.faster img{
  width: var(--img-md);
  margin-inline: auto;
}

.bento__grid-element.multiple{
  background-color: var(--white-100);
}


.bento__grid-element.mantain {
  background-color: var(--yellow-500);
  padding-bottom: 0; 
}

.bento__grid-element.mantain  img {
  width: var(--img-md); 
}

.bento__grid-element.schedule {
  background-color: var(--purple-100);
  text-wrap: pretty;
}

.bento__grid-element.followers {
  background-color: var(--purple-500);
  font-weight: var(--fw-bold);
  color: var(--white-100);
  padding-inline: 3rem;
  text-align: center;
  text-wrap: pretty;
}

.bento__grid-element.audience {
  background-color: var(--white-100);
}

.bento__grid-element.content {
  background-color: var(--yellow-100);
}

.bento__grid-element.content img{
  width: var(--img-md);
}

.bento__grid-element.ai {
  background-color: var(--yellow-500);
}

.bento__grid-element.ai img{
  width: var(--img-md);
}

/* DESKTOP Design */

@media (min-width: 1024px) {
  .bento__grid {
    max-width: 1500px;
    margin: 1rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 80px;
    gap: 2rem;
    grid-template-areas:
      "box1 box2 box2 box3"
      "box1 box2 box2 box3"
      "box1 box2 box2 box3"
      "box1 box2 box2 box3"
      "box1 box5 box6 box3"
      "box4 box5 box6 box3"
      "box4 box5 box6 box3"
      "box4 box7 box8 box8"
      "box4 box7 box8 box8"
      "box4 box7 box8 box8";
  }

  .bento__grid-element:nth-child(7) {
    grid-area: box1;
    padding: 6rem 2.5rem 0 3rem;
  }

  .bento__grid-element:nth-child(1) {
    grid-area: box2;
  }

  .bento__grid-element:nth-child(4) {
    grid-area: box3;
    padding: 2.75rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: left;
  }

  .bento__grid-element:nth-child(4) img {
    position: absolute;
    height: 410px;
    top: 150px;
    object-fit: cover;
    object-position: left;
  }

  .bento__grid-element:nth-child(8) {
    grid-area: box4;
  }

  .bento__grid-element:nth-child(2) {
    grid-area: box5;
  }

  .bento__grid-element:nth-child(3) {
    grid-area: box6;
  }

  .bento__grid-element:nth-child(6) {
    grid-area: box7;
  }

  .bento__grid-element:nth-child(5) {
    grid-area: box8;
    display: grid;
    grid-template-columns: 1.75fr 2fr;
    align-items: center;
  }
}




/* @media (min-width: 700px) and (max-width: 1020px) {
  .bento__grid {
    grid-auto-rows: initial;
    grid-template-areas:
      "box1 box1 box2 box2"
      "box1 box1 box2 box2"
      "box3 box3 box4 box4"
      "box3 box3 box4 box4"
      "box5 box5 box6 box6"
      "box5 box5 box6 box6"
      "box7 box7 box8 box8"
      "box7 box7 box8 box8";
  }
} */